
 
@mixin small {
  @media only screen and (min-width: 600px) {
      @content;
  }
  }
  
  @mixin medium {
  @media only screen and (min-width: 1024px) {
      @content;
  }
  }
  
  @mixin large {
  @media only screen and (min-width: 1440px) {
      @content;
  }
  }
  .projects-section {
      position:relative;
      background-color: #333;
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "projects";
      height: 100vh;
      max-height: -webkit-fill-available;
      width: 100vw;
      
      box-sizing: border-box;
      @include small {
          grid-template-areas: "working projects";
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
      }
      @include medium {
          padding: 0;
      }
      
  }
    
    .working-area{
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        width: 20%;
        @include small{
            position: relative;
            grid-area: working;
            width: 90%;
            
            align-self: center;
        }
    }
    .contact-area{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        grid-area: contactform;
        width: 100%;
        box-sizing: border-box;
        padding: 10%;
        align-self: center;
        justify-self:center;
    }
    